  
  /* Google Font Link */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body{
    margin:0;
    margin-left: 78px;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  

  .heading{
    font-size: 18px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 20px;
  }

  .d1::-webkit-scrollbar{
    width: 0;
  }

.d1{
  overflow-y:auto;
}

  .main_div{
    margin-top: 10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    
    height: 460px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 2px 15px #a59f9f, -2px -2px 15px #a59f9f;
  }

  .div_header{
    width:1162px;
    background-color: #D9D9D9;
    height:40px;
    display: grid;
    grid-template-columns: repeat(6,80px 250px 340px 140px 220px );
    padding:10px;
    color: rgb(96, 90, 90);
    font-weight: 600;
    position: sticky;
    

  }

  .header_items{
    width: 100%;
    border-bottom: solid 1px gray;
    padding: 10px;
    height:40px;

    display: grid;
    grid-template-columns: repeat(7,80px 250px 340px 140px 200px 60px 90px);
  }


  .items_txt{
    background: none;
    border: none;
    cursor: not-allowed;
    
  }

  

  .update_btn{
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    transition: 0.4s;

  }

  .delete_btn{
    cursor: pointer;
    background: none;
    border: none;
    color: red;
    font-weight: 600;
    font-size: 16px;
    transition: 0.4s;
  }

  .update_btn:active,
  .delete_btn:active{
    transform: scale(0.80);
  }


  .p{
    border: none;
    margin-top:180px ;
    height: 300px;
    width: 400px;
    align-items: center;
    border-radius: 50px;
    background-color: #e5dfdf;
    padding-top: 20px;
    margin-left: 480px;
    font-size: 20px;
    box-shadow: 4px 4px 12px #d29a9a, -4px -4px 12px #d29a9a;
    transition: 2s;
  
  
  
  
    transition: opacity 0.6s, transform 0.7s, display 0.6s allow-discrete;
  
    opacity: 0;
    transform: translateY(3rem);
  
    &:popover-open {
      opacity: 1;
      transform: none;
  
      @starting-style {
        & {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
    }
  }
  
  .pop_name{
    font-size: 18px;
    margin-left: 40px;

    .p_box{
      width: 220px;
      height: 35px;
      border: solid 2px gray;
      border-radius: 8px;
    }
  }

  .pop_price{
    font-size: 18px;
    margin-left: 40px;

    .p_box{
      margin-top: 20px;
      margin-right: 100px;
      width: 80px;
      height: 35px;
      border: solid 2px gray;
      border-radius: 8px;
     
    }
  }

  .category_img_n{
        font-size: 18px;
    margin-left: 40px;
    
  
  }


  /* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 8px;
  margin-top: 20px;

  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
  background-color:rgb(213, 92, 92);
  border: 1px solid rgba(0, 0, 0, 0.16);
  transition: background-color 200ms;
  transition: 0.5s;
  
}


/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color:  rgb(166, 162, 162);;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color:  darkred;
  transform: scale(0.9);
  font-size: 18px;
}




.save{
  font-weight: bold;
  color: #f1f1f1;
  
  font-size: 16px;
  border-radius: 0.5em;
  background:rgb(190, 23, 23);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-left: 120px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  transition: 0.4s;
}

.save:hover {
  transform: scale(1.1);
}

.save:active {
  box-shadow: 4px 4px 12px #c46868, -4px -4px 12px #cd7373;
  transform: scale(0.90);
}



.p_update{
  border: none;
  margin-top:180px ;
  height: 300px;
  width: 400px;
  align-items: center;
  border-radius: 50px;
  background-color: #e5dfdf;
  padding-top: 80px;
  margin-left: 480px;
  font-size: 20px;
  box-shadow: 4px 4px 12px #d29a9a, -4px -4px 12px #d29a9a;
  transition: 2s;




  transition: opacity 0.6s, transform 0.7s, display 0.6s allow-discrete;

  opacity: 0;
  transform: translateY(3rem);

  &:popover-open {
    opacity: 1;
    transform: none;

    @starting-style {
      & {
        opacity: 0;
        transform: translateY(-1rem);
      }
    }
  }
}


.delete{
  font-weight: bold;
  color: #f1f1f1;
  
  font-size: 16px;
  border-radius: 0.5em;
  background:rgb(190, 23, 23);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

  margin-top: 20px;
  width: 100px;
  height: 30px;
  transition: 0.4s;
}

.save:hover {
  transform: scale(1.1);
}

.save:active {
  box-shadow: 4px 4px 12px #c46868, -4px -4px 12px #cd7373;
  transform: scale(0.90);
}



/* for the on menu and the off menu part   */

.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

 margin-left: 35px;
  height: 25px;
}

.switch-button .switch-outer {
  height: 100%;
  background: #56565f;
  width: 80px;
  border-radius: 165px;
  -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switch-button .switch-outer .button-toggle {
  height: 22px;
  width: 22px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
  );
  background: -o-linear-gradient(#3b3a4e, #272733);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  left: 0;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-toggle {
  left: 70%;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-indicator {
  -webkit-animation: indicator 1s forwards;
  animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
  height: 15px;
  width: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #e01010 ;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}

@-webkit-keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid#009f25;
    left: -78%;
    right: 10px;
  }
}

@keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #00c62e;
    left: -68%;
    
  }
}